@using System
@using System.Linq
@using Nat.Web.Core.Resources
@using Kendo.Mvc.UI
@using Kendo.Mvc.UI.Fluent
@using Nat.Web.Core.Kendo.Extensions
@using Nat.Web.Core.System.Annotations
@using Nat.Web.Core.System.Extensions
@using Newtonsoft.Json
@model object
@{
    WidgetFactory<Object> kendo = Html.Kendo();
    var settings = ViewData.ModelMetadata.GetPropertyAttr<ForeignKeyAttribute>();
    var name = ViewData.TemplateInfo.GetFullHtmlFieldName("");
}
<div id="@name"
     custom-bind-input="@name"
     data-role="listview"
     data-template="template-@name"
     data-bind="source: @name"
     style="min-height: 27px; padding: 3px 2px;"
     class="m-field-readOnly">
</div>
<script type="text/x-kendo-tmpl" id="template-@name">
    @if (string.IsNullOrEmpty(settings.ValueClientTemplate))
    {
        <div class="k-button k-state-disabled" data-bind="text: @settings.DataTextField">
        </div>
    }
    else
    {
        <div class="k-button k-state-disabled">@settings.ValueClientTemplate</div>
    }
</script>